@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/* *{
    margin: 0;
    padding: 0;
} */

/* shared styles */

.display-flex {
    display: flex;
}
/* dark 02 */
.text-gray {
    color: #424242;
}
/* dark 03 */

.text-light-gray {
    color: #727272;
}
.text-primary {
    color: #ff900e;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary {
    background-color: #ff900e;
    color: #ffffff;
    padding: 21px 25px;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
}
/*  */

main > section {
    margin-top: 130px;
}

/* header style */

/* navbar related style */

.navbar {
    justify-content: space-between;
    align-items: center;
}
.brand {
    font-weight: 700;
    font-size: 3rem;
}
.nav-item {
    list-style: none;
    margin-right: 30px;
}
.nav-link {
    text-decoration: none;
    font-weight: 500;
}
.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}
/* banner relatede style */
.banner-contein {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-titel {
    font-weight: 700;
    font-size: 4rem;
}
.banner-image {
    width: 100%;
}
/* features related section start */

#features-section-titel {
    border-left: 5px solid #ff900e;
    padding-left: 20px;
}
.features {
    gap: 140px;

    /* justify-content: center;
    align-items: center; */
}

.Feature-card {
    padding: 30px;
    /* width: 580px;
    height: 171px; */
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
    /* gap: 10px ; */
}
.Feature-card .Feature-titel {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
#experience-badge {
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: -100px;
    margin-left: -100px;
}
#experience-year {
    font-size: 4rem;
    font-weight: 700;
}
.feature-architects img {
    width: 100%;
}

/* feature related styles */

.teams {
    align-items: center;
}
.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features {
    margin-left: 81px;
    max-width: 530px;
}
.Feature-titel {
    font-size: 2.8rem;
    font-weight: 700;
}
#Quick-list {
    font-weight: 500;
}
.our-features .btn-primary {
    margin-top: 32px;
}
/* some efact related style */
.fact-card {
    border: 1px solid #ff900e;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    color: #424242;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name {
    font-size: 20px;
    font-weight: 600;
    color: #727272;
    margin-top: 10px;
}
.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.facts-description {
    max-width: 540px;
    margin-bottom: 50px;
    margin-top: 24px;
}

/* sponsor related style */

.sponsors-info {
    max-width: 540px;
    margin: 50px auto;
    align-items: center;
    text-align: center;
}
.section-titel {
    font-size: 45px;
    /* width: 600px ; */
    margin-bottom: 24px;
}

.Sponsor-campanies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.Sponsor-campanies img {
    filter: grayscale(100%);
}

/* responsive media query */
@media screen and (max-width: 570px) {
    .navbar,
    .nav-links,
    .features,
    .teams {
        flex-direction: column;
    }
    .team-img-container,
    .facts-container,
    .Sponsor-campanies {
        grid-template-columns: repeat(1, 1fr);
    }
    .facts-container {
        justify-items: center;
        gap: 24px;
    }
    .Sponsor-campanies {
        justify-items: center;
        gap: 50px;
    }
    .our-features {
        /* padding: 20px; */
        margin-left: 20px;
    }
    #experience-badge {
        margin: 0 auto;
    }
}

/* meadium size  device*/
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams,
    .features {
        flex-direction: column;
    }
    .our-features {
        margin-left: 50px auto;
    }
    .Sponsor-campanies,
    .facts-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }
    #experience-badge {
        margin: 0 auto;
    }
}
